* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
    overflow: hidden;
    user-select: none;
}

body {
    height: 100vh;
    background-color: rgba(197, 210, 107, 1);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
}

nav ul {
    background-color: #927397;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 10px;
}

nav li {
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 5px 10px;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.adder,
.viewer {
    background-color: #1b839a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
    height: 60vh;
    min-width: 300px;
}

.adder input {
    width: 90%;
    padding: 10px;
    color: #294c97;
    font-size: 1.2rem;
    caret-color: #fff;
}

.adder input::placeholder {
    color: #072080;
}

.adder input:is(:last-child) {
    border-radius: 20px;
    color: #978073;
    border-color: #978073;
}

.adder input:not(:last-child) {
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid #fff;
}

.viewer {
    position: relative;
}

.viewer .search {
    position: absolute;
    top: 0;
    height: 10%;
    width: 100%;
    background-color: #ea8b8bdb;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.viewer .search input {
    border-radius: 10px;
    padding: 10px;
    background: none;
    border: 1px solid rgba(83, 17, 35, 0.7);
    color: rgba(18, 57, 154, 0.8);
    font-weight: 900;
}

.viewer .search input[type="search"] {
    width: 60%;
}

.viewer .search input[type="submit"] {
    width: 20%;
}

.vieweraction {
    position: absolute;
    top: 10%;
    overflow-y: auto;
    width: 100%;
    height: 90%;
}

.passData {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-color: #3fd2bca9;
}

.passData>input {
    font-weight: bold;
    font-size: 1rem;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    color: green;
    width: 99%;
    text-overflow: ellipsis;
}